@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Quicksand_Book-webfont.woff') format('woff'),
    url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
    url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
 }

body {
    color: #ffffff;
    background: #585858;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90%;
    margin: 0px;
    text-align: left;
 }
 
 div h1 img {
     width: 275px;
     height: auto;
 }
 
a {
    color: #01DF01;
    text-decoration: none;
 }
 
a:hover {
    color: #ffffff;
}

.header {
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    background-color: #424242;
    z-index: 10;
    opacity: 0.7;
 }
 
 .column1, .column2, .column3, .column4 {
     float: left;
     padding: 7px 7px 7px 7px;
 }
 
.nav {
    float: right;
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    padding: 0px 0px 0px 0px;
 }
 
.wrapper {
    width: 960px;
    margin: 0px auto;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.logo {
    margin-bottom: 10px;
 }

 h1, h2 {
    font-family: QuicksandBook, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
 }
 
 h1 {
    font-size: 150%;
    margin-top: 20px;
 }
 
 .container_13 {
     margin-top: 100px;
     font-size: 175%;
 }
 
 .grid_7 {
     float: right;
 }
 
 .container_13 div img {
     width: 400px;
     height: auto;
 }
  
 .container_13 p {
     font-size: 60%;
     text-align: left;
 }
 
.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    color: #01DF01;
 }

.intro {
    clear: left;
    font-size: 90%;
    line-height: 1.4em;
 }
 
.main-story {
    background-image: url("images/triangles.png");
    background-repeat: no-repeat;
    background-position: 122px 300px;
    height: 2600px;
 }
 
.more-articles {
    border-top: 1px solid #ffffff;
    padding: 10px;
 }
 
.more-articles p {
    border-bottom: 1px solid #807c72;
    padding: 5px 0px 15px 0px;
    font-size: 80%;
 }
 
.more-articles p:last-child {
    border-bottom: none;
 }

.footer {
    clear: both;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
 }
 
.footer p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 75%;
    text-align: right;
 }
 
.footer a {
    color: #807c72;
 }
 
